global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3
	tune.ssl.default-dh-param 4096

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

	stats enable
	stats uri /haproxy?stats
	#stats realm Strictly\ Private
	#stats auth A_Username:YourPassword
	#stats auth Another_User:passwd


frontend https
	bind *:443
	mode tcp
	tcp-request inspect-delay 30s
	tcp-request content accept if { req_ssl_hello_type 1 }
	option tcplog

{% for host in web_hosts if host.default is undefined %}
	{% if host.wildcard is undefined %}
		use_backend {{ host.domain }}_s if { req_ssl_sni -i {{ host.domain }} }
	{% elif host.wildcard == true %}
		use_backend {{ host.domain }}_s if { req_ssl_sni -m end {{ host.domain }} }
	{% endif %}
{% endfor %}
{% for host in web_hosts if host.default is defined and host.default == true %}
	default_backend {{ host.domain }}_s
{% endfor %}

frontend http
	bind *:80
	mode http

	option forwardfor
        use_backend letsencrypt if { path_beg /.well-known/acme-challenge/ }

{% for host in web_hosts if host.default is undefined %}
	{% if host.hsts is defined %}
		{% if host.wildcard is undefined %}
			http-request redirect scheme https if { hdr(host) -i {{ host.domain }} } !{ path_beg /.well-known/acme-challenge/ }
		{% elif host.wildcard == true %}
			http-request redirect scheme https if { hdr_end(host) -i {{ host.domain }} } !{ path_beg /.well-known/acme-challenge/ }
		{% endif %}
	{% else %}
		{% if host.wildcard is undefined %}
			{% if host.redirect is defined %}
				http-request redirect prefix {{ host.redirect }} if { hdr(host) -i {{ host.domain }} } !{ path_beg /.well-known/acme-challenge/ }
			{% else %}
				use_backend {{ host.domain }} if { hdr(host) -i {{ host.domain }} }
			{% endif %}
		{% elif host.wildcard == true %}
			{% if host.redirect is defined %}
				http-request redirect prefix {{ host.redirect }} if { hdr_end(host) -i {{ host.domain }} } !{ path_beg /.well-known/acme-challenge/ }
			{% else %}
				use_backend {{ host.domain }} if { hdr_end(host) -i {{ host.domain }} }
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}
{% for host in web_hosts if host.default is defined and host.default == true %}
	default_backend {{ host.domain }}
{% endfor %}

backend letsencrypt
	server letsencrypt 127.0.0.1:402

{% for host in web_hosts  %}

backend {{ host.domain }}
{% if host.hsts is defined %}
	http-request redirect scheme https if !{ ssl_fc }
	http-response set-header Strict-Transport-Security max-age={{ host.hsts }}
{% endif %}
{% if host.redirect is defined %}
	http-request redirect prefix {{ host.redirect }}
{% else %}
	server {{ host.domain }} {{ host.backend_host }}:{{ host.backend_port_plain }}
{% endif %}

backend {{ host.domain }}_s
	mode tcp
{% if host.backend_port_ssl is undefined %}
	server {{ host.domain }}_s localhost:{{ 8000 + loop.index }}
{% else %}
	server {{ host.domain }}_s {{ host.backend_host }}:{{ host.backend_port_ssl }}
{% endif %}

{% if host.backend_port_ssl is undefined %}
frontend {{ host.domain }}_offload
	bind *:{{ 8000 + loop.index }} ssl crt /etc/haproxy/ssl/{{ host.domain }}
	mode http
	use_backend {{ host.domain }}
{% endif %}


{% endfor %}

